.link_wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 80%;
}

.main_wrapper{
    margin-right:10px;
    position: relative;
    width: 140px;
    min-width: 140px;
    height: 221px;
}

.bookmark{
  
    position:absolute;
    bottom:0;
    right: 5px;
    z-index: 50;
    font-size: 34px;
    color:white;
}

.card{
 
    width: 140px;
    min-width: 140px;
    height: 221px;
    background-color:#101825;
    position:relative;
   
}


.hideTitle{
    background-color:rgb(16, 24, 37, 0.6);
    width:100%;
    height: 100%;
    position:absolute;
    top:0px;
    color:white;
    opacity: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hideTitle:hover{

    opacity: 1;
}

.img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
