.home{
    
    display: flex;
   
    justify-content: space-between;
  
    background-color: #101825;
    
}
.sideBar{
    
    width:100%;
    background-color: #13131d;
    @media only screen and (max-width: 768px) {
             
        position: fixed;

        z-index: 1;
        top:0 ;
        left:0 ;
        
        color:white; 
        } 
}
.search_sticky{
    position:sticky;
    top:0px;
    height: 50px;
    left:20px;
    z-index: 2;
    background-color: #101825;
    margin:20px 0px;
}
.search{
   
    width:80%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.movieList{

    padding:0px 40px ;
    width:70%; 
    @media only screen
    and (min-width: 120px)
    and (max-width: 768px) {
          width: 100%;
    } 
    @media only screen
    and (min-width: 978px)
    and (max-width: 1024px) {
          width: 58%;
    } 
    
    
}
.title{
    color: white;
    display: flex;
    justify-content: start;
}

.movieCards{
   height: 240px;
    display:flex;
    justify-content: flex-start;
    overflow-y: hidden;
    margin-top:0px;
    margin-bottom:20px;
}

.input_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top:0px;
    left:20px;
   
}



::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track {
  background: #13131d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 5px;
}
.end {
    background: red;
    width:50px;
    height:100%;

}

.icon {
    font-size: 27px;
    margin : 15px;
    color:#00d8ff;
  
   
}