.sideBar {
  height: 100vh;
  position: sticky;
  display: block;

  top: 0;
  left: 0;
  padding: 115px;
  color: white;
  @media only screen and (min-width: 120px) and (max-width: 768px) {
    padding: 115px 0px;
    height: 100vh;
  }
}
.img {
  height: 100px;
  width: 100px;
}
.imgBox {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  color: #00d8ff;
  margin-bottom: 20px;
  @media only screen and (min-width: 120px) and (max-width: 768px) {
    width: 100%;
  }
}
.list {
  padding: 20px;
}

.line {
  cursor: pointer;
  padding: 0px 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.text {
  margin-left: 15px;
  margin-bottom: 5px;
}
.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
